* {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: rgba(0, 0, 0, 0.5);
}

#header {
    background-color: rgb(34, 49, 63); 
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex; 
    justify-content: space-between; 
}

#content-menu {
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}
#menu a {
    display: block;
    padding: 5px;
}
#btn-mobile {
    display: none;
}

/* Desktop */
@media only screen and (min-width: 1000px){
    #container {
        margin: auto;
        width: 1000px;
        align-items: center;
    }
    img {
        width: 90%;
    }
    /* perfio */
    #perfio {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    #perfio-img {
        width: 50%;
    }
    #perfio-bio {
        width: 50%;
        margin-top: 75px;
    }
    /* destaques */
    #destaques {
        display: flex;
        margin-bottom: 2rem;
    }
    #destaques div, h2 {
        margin-bottom: 20px;
    }

    /* Social */
    #social {
        display: flex;
        justify-content: center;
    }
    #social div {
        align-items: center;
        display: flex;
        padding: 2rem;
        margin: 0rem 3rem 0rem 3rem;
    }
    #social img {
        width: 4rem;
    }

    /* footer */
    footer {
        background-color: rgba(34, 49, 63);
        text-align: center;
        color: whitesmoke;
    }
    
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 1000px){
    /* header */
    #container {
        margin: auto;
        width: 90%;
        align-items: center;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }

    /* main */
    #perfio-img { /* Perfio */
        display: flex;
        /* background-color: blue;  DEV */
        justify-content: center;
        padding: 1rem 1rem;
    }
    #perfio-bio {
        padding: 1rem 1rem;
        text-justify: auto;
    }
    #perfio-bio h1 {
        text-align: center;
    }
    #perfio-bio p {
        text-align: center;
        width: 60%;
        margin-left: 20%;
    }

    /* Destaques */
    .card-info { 
        /* background-color: blue;         */
    }
    .card-info p{
        margin-left: 18%;
    }
    .card-info h2 {
        text-align: center;
        padding: 1rem 1rem;
    }
    .card-info p {
        padding: 1rem 1rem;
        text-align: justify;
        width: 60%;
    }
    .card-info-img {
        display: flex;
        justify-content: center;
    }

    #social { /* Rodapé social */
        padding: 1rem 1rem;
        text-align: center;
    }
    /* Social */
    #social {
        display: flex;
        justify-content: center;
    }
    #social div {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin: 0rem 2rem 0rem 2rem;
    }
    #social img {
        width: 3rem;
    }

    /* footer */
    footer {
        background-color: rgba(34, 49, 63);
        text-align: center;
        color: whitesmoke;
    }

}

@media only screen and (min-width: 300px) and (max-width: 600px){ /* Mobile */
    /* header */
    #container {
        margin:auto;
        width: 100%;
        align-items: center;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }

    /* main */
    #perfio-img { /* Perfio */
        display: flex;
        /* background-color: blue;  DEV */
        justify-content: center;
        padding: 1rem 1rem;
    }
    #perfio-bio {
        padding: 1rem 1rem;
        text-justify: auto;
    }
    #perfio-bio h1 {
        text-align: center;
    }
    .card-info { /* Destaques */
        /* background-color: blue;         */
    }
    .card-info h2 {
        text-align: center;
        padding: 1rem 1rem;
    }
    .card-info p {
        padding: 1rem 1rem;
        text-align: justify;
    }
    .card-info-img picture {
        display: flex;
        margin: auto;
        width: 260px;
        padding: 1rem;
        
    }
    #social { /* Rodapé social */
        padding: 1rem 1rem;
        text-align: center;
    }

    /* Social */
    #social div {
        justify-content: center;
        padding: 1rem 1rem;
    }
    #social div {
        align-items: center;
        display: flex;
    }
    #social img {
        width: 5rem;
    }

    /* footer */
    footer {
        background-color: rgba(34, 49, 63);
        text-align: center;
        color: whitesmoke;
    }

}
